langchain
langchain-community
langchain-experimental
langchain-groq
langchain-openai
langchain-google-community[places]
langchain-tavily
langgraph
fastapi
uvicorn
streamlit
pydantic
python-dotenv
httpx
requests
pyyaml
